<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>GT project</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link href="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>

  <script
    src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
  <link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
    type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    .flex-container {
      display: flex;
      height: calc(100vh - 20px);
      margin: 10px;
    }

    .coordinates-input {
      width: 30vw;
    }

    .coordinates-input input {
      width: 90%;
      margin: 10px;
    }

    #map {
      position: relative;
      top: 0;
      bottom: 0;
      width: 70%;
    }

    #map1 {
      position: relative;
      height: 100vh !important;
      top: 0;
      bottom: 0;
      width: 100%;
    }
  </style>
</head>

<body>
  <!-- Load the `mapbox-gl-geocoder` plugin. -->
  <script
    src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
  <div class="flex-container">
    <div class="coordinates-input">
      <form id="coordinatesForm" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="source" class="form-label">Source</label>
          <input type="text" class="form-control" id="source" name="source" onfocus="getFocusedElement()" required>
        </div>
        <label for="destination" class="form-label">Destination</label>
        <div class="mb-3" id="destination">
          <input type="text" class="form-control" id="dest1" name="dest1" onfocus="getFocusedElement()" required>
          <input type="text" class="form-control" id="dest2" name="dest2" onfocus="getFocusedElement()" required>
        </div>
        <div class="mb-3">
          <a href="#" onclick="newDestination()">+ Add destination</a>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <div id="map"></div>
  </div>

  <!-- Modal -->
  <div class="modal top fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
    data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Optimal Route</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="height: 100vh; width: 100vw;">
          <div id="map1"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="close" data-mdb-dismiss="modal">
            Close
          </button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  -->
  <script>
    $("#close").click(function () {
      $("#myModal").modal('hide');
    });

    var focused_elem = null;
    function getFocusedElement() {
      focused_elem = document.activeElement.id;
    }

    function newDestination() {
      var parentDiv = document.getElementById("destination");
      var newInput = document.createElement("input");
      newInput.type = "text";
      newInput.className = "form-control";
      newInput.id = "dest" + (parentDiv.childElementCount + 1);
      newInput.name = "dest" + (parentDiv.childElementCount + 1);
      newInput.onfocus = getFocusedElement;
      parentDiv.appendChild(newInput);
    }

    $("#coordinatesForm").on("submit", function (event) {
      event.preventDefault();
      var data = new FormData(this);
      var dest_count = document.getElementById("destination").childElementCount;
      data.append("dest_count", dest_count);
      $.ajax({
        cache: false,
        contentType: false,
        processData: false,
        type: "POST",
        data: data,
        url: "{% url 'coordinates' %}",
        success: function (response) {
          console.log("Success");
          $('#coordinatesForm')[0].reset();
          $('#myModal').modal('show');

          mapboxgl.accessToken = 'pk.eyJ1Ijoic2t5Z3VwdGEzNDUiLCJhIjoiY2xmNDBuNWkxMHk0dTNvcjAzNWE4dDcxOCJ9.q1NkZ5kMRNjsXklpVFFk8Q';

          var waypoints = [];

          var routeCoordinates = response.optimal_coordinates
          routeCoordinates.forEach(function (waypoint) {
            waypoints.push(waypoint.split(","))
          });
          console.log(routeCoordinates);
          console.log(waypoints);

          var map1 = new mapboxgl.Map({
            container: 'map1',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-98.5833, 39.8333], // United States
            zoom: 3
          });

          map1.on('load', function () {
            // Add a source and layer for each waypoint
            waypoints.forEach(function (waypoint, i) {
              map1.addSource('waypoint' + i, {
                'type': 'geojson',
                'data': {
                  'type': 'FeatureCollection',
                  'features': [{
                    'type': 'Feature',
                    'properties': {},
                    'geometry': {
                      'type': 'Point',
                      'coordinates': waypoint
                    }
                  }]
                }
              });

              map1.addLayer({
                'id': 'waypoint' + i,
                'type': 'circle',
                'source': 'waypoint' + i,
                'paint': {
                  'circle-color': '#ff0000',
                  'circle-radius': 10,
                }
              });
            map1.addLayer({
              'id': 'waypoint' + i + '-label',
              'type': 'symbol',
              'source': 'waypoint' + i,
              'layout': {
                'text-field': i.toString(),
                'text-size': 25,
                'text-offset': [0, -0.5] // Offset the text slightly above the circle
              },
              'paint': {
                'text-color': 'black'
              }
            });
          });
            // Use the Mapbox Directions API to calculate an optimized route
            var url = 'https://api.mapbox.com/directions/v5/mapbox/driving/' +
              waypoints.join(';') +
              '?steps=true&geometries=geojson&access_token=' +
              mapboxgl.accessToken;

            fetch(url)
              .then(function (response) {
                return response.json();
              })
              .then(function (data) {
                var route = data.routes[0].geometry;

                // Add the optimized route as a layer on the map
                map1.addSource('route', {
                  'type': 'geojson',
                  'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': route
                  }
                });

                map1.addLayer({
                  'id': 'route',
                  'type': 'line',
                  'source': 'route',
                  'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                  },
                  'paint': {
                    'line-color': '#4286f4',
                    'line-width': 6
                  }
                });

                // Fit the map to the bounds of the optimized route
                var bounds = route.coordinates.reduce(function (bounds, coord) {
                  return bounds.extend(coord);
                }, new mapboxgl.LngLatBounds(route.coordinates[0], route.coordinates[0]));

                map1.fitBounds(bounds, {
                  padding: 50
                });
              });
          });
        },
        error: function (response) {
          console.log("Error")
        }
      });
    })
  </script>
  <script>
    // TO MAKE THE MAP APPEAR YOU MUST
    // ADD YOUR ACCESS TOKEN FROM
    // https://account.mapbox.com
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2t5Z3VwdGEzNDUiLCJhIjoiY2xmNDBuNWkxMHk0dTNvcjAzNWE4dDcxOCJ9.q1NkZ5kMRNjsXklpVFFk8Q';
    const map = new mapboxgl.Map({
      container: 'map', // container id
      // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
      style: 'mapbox://styles/mapbox/streets-v12',
      center: [-74.5, 40], // starting position
      zoom: 9 // starting zoom
    });

    // Add the control to the map.
    map.addControl(
      new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        mapboxgl: mapboxgl
      })
    );

    var currentMarker = null;
    map.on('click', (e) => {
      if (focused_elem != null) {
        if (currentMarker !== null) {
          currentMarker.remove();
        }
        currentMarker = new mapboxgl.Marker()
          .setLngLat(e.lngLat)
          .addTo(map);
        document.getElementById(focused_elem).value =
          e.lngLat.lng + "," + e.lngLat.lat;
      }
    });

  </script>

</body>

</html>